
* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    padding: 1px;
    border: 2px solid #fff;
    border-radius: 20px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #44a3b6;
    color: white;
    padding: 12px 20px;
    border: 2px solid;
    border-radius: 20px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #44A1B5;
}

.container {
    border-radius: 5px;
    background-color: #abc8ez;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
>>>>>>> e4507bc18b2945b715354daf70c51f39be0cfc60
